

.mypageimg img {
    margin:  0px auto;
    width: 80%;
    margin: 10%;
    height: 150px;
    object-fit: cover; 
}
.xicon{
    float: right;
    margin-right: 10%;
}

.detail{
    width: 100%;
   text-align: center;
}
.detailimg{
    height: 100%;
    width: 100%;
    margin-bottom: 3%;
    object-fit: cover; 
    height: 400px;

}
