
.Mainimg{
    width: 25%;
    height: 30%;
    display: flex;
    margin: 0px auto;
  
}

.content{
    border: 1px solid gray;
    display: flex;
    color: rebeccapurple;
    justify-content: center;
    margin: 0 auto;
    width: 25%;
    text-align: center;
}