.Mainimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
   
    object-fit: cover;
    

}


.mainpost {
    width: 100%;
 
    overflow-x: hidden;
    /* 또는 다른 너비를 지정하세요 */
   

}
.postimg{
    position: relative;
    width: 100%;
    padding-top: 15%; 
    margin: 0 auto;
    margin-left: 37.5%;
    text-align: center;
    margin-top: 1%;


}

.maintitle{
    font-weight: bold;
}

.postoption{
    position: relative;
    width: 58%;
    margin: 0 auto;
    margin-left: 12%;
    text-align: center;
    margin-top: 1%;

}
.abc{
    z-index: 100;
}


.content {
    font-weight: bold;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
    margin: 0 auto;
    width: 25%;

}
.detail{
    width: 100%;
   text-align: center;
}
.detailimg{
    height: 100%;
    width: 100%;
    margin-bottom: 3%;
    object-fit: cover; 
    height: 400px;

}

